/* #button{
    width: 100%;
}
.form{
    max-width: 300px;
    margin:auto;
    margin-top:100px;
}
.forget{
    float:right;
    
} */
.login-form{
    max-width: 400px;
    margin:auto;
    margin-top:250px;
}