<form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="onSubmit()">
  <nz-form-item>
    <nz-form-control>
      <nz-input-group [nzPrefix]="prefixUser">
        <input type="text" nz-input formControlName="userName" placeholder="Username" />
      </nz-input-group>
      <nz-form-explain *ngIf="validateForm.controls.userName.dirty && validateForm.get('userName')?.errors">
        Please input your username!
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <nz-input-group [nzPrefix]="prefixLock">
        <input type="password" nz-input formControlName="password" placeholder="Password" />
      </nz-input-group>
      <nz-form-explain *ngIf="validateForm.get('password')?.dirty && validateForm.get('password')?.errors"
        >Please input your Password!</nz-form-explain
      >
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      
      <button class="btn btn-primary btn-block" type="submit">Log in</button>
      Or
      <a routerLink="/register">register now!</a>
      <a class="login-form-forgot float-right" >Forgot password</a>
    </nz-form-control>
  </nz-form-item>
</form>
<ng-template #prefixUser><i nz-icon type="user"></i></ng-template>
<ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>