<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="https://github.com/login/oauth/authorize?client_id=299461535d2b2771e269&redirect_uri=http://localhost:3000/oauth/callback">Login with github</a>
  </body>
</html>
